/* Global Styles */
* {
  box-sizing: border-box;
  padding: 0;
  
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url('image.png') no-repeat center center fixed ;
    background-size: cover;
    color: #333;
    line-height: 1.6;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(5px);
  z-index: -1;
}
/* Header Styles */
header {
  background-color: #4CAF50;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

header #logo {
  font-size: 2em;
  font-weight: bold;
}

header .navbar a {
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 15px;
  text-decoration: none;
}

header .navbar a:hover {
  background-color: #45a049;
}



/* Container Styles */
.container {
  background:white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

.post-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.post-button:hover {
  background-color: #218838;
}

/* Responsive Design */
@media (max-width: 600px) {
  .container {
      padding: 10px;
  }

  h1 {
      font-size: 24px;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="tel"],
  input[type="file"],
  textarea {
      font-size: 14px;
      padding: 8px;
  }

  .post-button {
      font-size: 14px;
      padding: 8px;
  }
}

/* Footer Styles */
.footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-column {
  width: 100%;
  max-width: 300px;
  margin: 10px;
}

.footer-column h3 {
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style-type: none;
}

.footer-column ul li {
  margin: 10px 0;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
}

.footer-column p {
  margin-top: 10px;
}

.footer-column .social-icons {
  margin-top: 10px;
}

.footer-column .social-icons a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
}
