

/* Selling interface styles*/
.container {
  background:white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #4CAF50;
  border-radius: 5px 0 0 5px;
  outline: none;  
}

textarea {
  resize: vertical;
}

.post-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.post-button:hover {
  background-color: #218838;
}

/* Responsive Design */
@media (max-width: 600px) {
  .container {
      padding: 10px;
  }

  h1 {
      font-size: 24px;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="tel"],
  input[type="file"],
  textarea {
      font-size: 14px;
      padding: 8px;
  }

  .post-button {
      font-size: 14px;
      padding: 8px;
  }
}
